In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("Advertising_data.csv")
df.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [11]:
X=df.iloc[:,[2,3]].values
y=df.iloc[:,[4]].values